@use '../../styles/colors.scss' as *;

.property-header {
  margin-bottom: 1.25rem;

  .property-header-title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .property-header-subtext {
    color: $color-black;
    display: flex;
  }

  .property-header-image-section {
    margin-bottom: 1.25rem;

    & > img {
      width: 100%;
      height: 30rem;
      border-radius: 16px;
      object-fit: cover;
    }
  }
}


